@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    height: 100vh;
    padding: 0.5rem 1.7rem;
    color: #fff;
    overflow: hidden;
    /*transition: all 0.5s linear;*/
    /*rg(22, 33, 52);*/
    background: #32383E;
}

/*.sidebar:hover {
    width: 250px;
    transition: 0.5s;
}*/

.sidebar a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background: transparent;
}

.logo {
    height: 92px;
    padding: 16px;
}

.logo--automanager {
    margin-left: 35px;
    margin-top: -10px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
}

.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 0.52rem 1.2rem;
    margin: 9px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover, .activate {
    background: #e0e0e058;
}

.menu a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1.2rem;
}

.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.settings {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
}

.logout a {
    text-decoration: none;
    color: #fff;
}

.main--content {
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.header--wrapper img {
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 50%;
}



.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--title {
    color: #32383E;
}

.user--info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search--box {
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(33, 59, 84, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}

.search--box input {
    background: transparent;
    padding: 10px;
}

.search--box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.search--box i:hover {
    transform: scale(1.2);
}

section article {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 1rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

section article h2 {
    margin: 1.5rem;
} 

/*.section--card {
    width: 250px;
    margin: 0 auto;
    display: inline-block;
    
}

.article--card i{
    font-size: 1.5rem;
    padding-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}*/

.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}

.sidebar {
    width: 235px;
}

.main--content {
    flex: 1; /* El contenido principal tomará el espacio restante */
    overflow-y: auto; /* Añade una barra de desplazamiento vertical si es necesario */
}

@media screen and (max-width: 600px) {
    .sidebar {
    width: 25%;
    padding: 0 1.7rem;
    position: relative;
    overflow: visible;
    }
  
    .logout, .settings {
    position: static;
    width: auto;
    }
}