/* Estilos para el contenedor de las cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajusta según tus necesidades */
    padding: 20px; /* Espaciado interior del contenedor */
}

/* Estilos para cada card */
.card {
    width: 300px; /* Ajusta el ancho de cada card según tus necesidades */
    margin-bottom: 20px; /* Espaciado entre cards */
    border-radius: 5px;
}