{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}


{% comment %} SECCION DE MENSAJES DE ALERTA O VERIFICACION {% endcomment %}
<div>
    {% if messages %}
    <div class="alert alert-success" role="alert">
        <ul class="messages">
            {% for message in messages %}
            <h3{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h3>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
    <script>
        window.setTimeout(function(){
            $(".alert").fadeTo(500, 0).slideUp(1000, function(){
                $(this).remove();
            });
        }, 1500);
    </script>
</div>

<div class="card bg-primary text-white">
    <div class="card-header">
        <h2 class="">
            <i class="fa-solid fa-receipt"></i>
            <span style="margin-left: 15px;">{% trans "Cotizaciones" %}</span>
        </h2>
    </div>
</div>

<div class="table-responsive py-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <!--INFORMACIÓN DE LA TABLA-->
                <th>{% trans "Campo1" %}</th>
                <th>{% trans "Campo2" %}</th>
                <th>{% trans "Campo3" %}</th>
                <th colspan="2">{% trans "Opciones" %}</th>
            </tr>
        </thead>
        <tbody>
            <!--INFORMACIÓN DE BASE DE DATOS-->
            <!--for-->
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-outline-primary"> {% trans "Editar" %}</button></td>
                <td><button class="btn btn-outline-danger"> {% trans "Eliminar" %}</button></td>

                <!--Boton de edicion
                <form method="get" action="url">
                    {% csrf_token %}
                    <input type="hidden" name="editID" value="{{cotizacion.id}}">
                    <td> <button type="submit" class="btn btn-outline-info">{% trans "Editar" %}</button></td>
                </form>-->

                <!--Boton de borrado
                <form method="post" action="url">
                    {% csrf_token %}
                    <input type="hidden" name="userID" value="{{cotizacion.id}}">
                    <td> <button type="submit" class="btn btn-outline-danger">{% trans "Eliminar" %}</button></td>
                </form>-->

            </tr>
            <!--endfor-->
        </tbody>
    </table>
    <button type="button" class="btn btn-secondary" onclick=redirectcreateUser() style="margin-left: 5px;"> <i class="fa-solid fa-plus"></i> {% trans "Añadir Cotización" %}</button>
</div>

{% endblock %}

