{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="card bg-success text-white">
    <div class="card-header">
        <h2 class="">
            <i class="fa-solid fa-box"></i>
            <span style="margin-left: 15px;">{% trans "Inventario" %}</span>
        </h2>
    </div>
</div>

<div class="table-responsive py-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Nombre" %}</th>
                <th>{% trans "Categoría" %}</th>
                <th>{% trans "Descripción" %}</th>
                <th>{% trans "Precio" %}</th>
                <th colspan="2">{% trans "Opciones" %}</th>

            </tr>
        </thead>
        <tbody>
            <!-- CICLO FOR PARA MOSTRAR LOS DATOS-->
            <!--for-->
            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            
                <!--Boton de edicion-->
                <form method="" action="">
                    {% csrf_token %}
                    <input type="hidden" name="" value="">
                    <td> <button type="" class="btn btn-outline-info">{% trans "Editar" %}</button></td>
                </form>

                <!--Boton de borrado-->
                <form method="" action="">
                    {% csrf_token %}
                    <input type="hidden" name="" value="">
                    <td> <button type="" class="btn btn-outline-danger">{% trans "Eliminar" %}  </button></td>
                </form>
            </tr>
            <!--endfor-->

        </tbody>
    </table>
    <button type="button" class="btn btn-success" onclick="" style="margin-left: 5px;"> 
        <i class="fa-solid fa-cart-flatbed"></i> {% trans "Añadir Producto" %}
    </button>
</div>

{% endblock %}