{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

{% comment %} SECCION DE MENSAJES DE ALERTA O VERIFICACION {% endcomment %}
<div>
    {% if messages %}
    <div class="alert alert-success" role="alert">
        <ul class="messages">
            {% for message in messages %}
            <h3{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h3>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
    <script>
        window.setTimeout(function(){
            $(".alert").fadeTo(500, 0).slideUp(1000, function(){
                $(this).remove();
            });
        }, 1500);
    </script>
</div>

<div class="card bg-primary text-white">
    <div class="card-header">
        <h2 class="">
            <i class="fa-solid fa-box"></i>
            <span style="margin-left: 15px;">{% trans "Inventario" %}</span>
        </h2>
    </div>
</div>

<div class="table-responsive py-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans "Nombre" %}</th>
                <th>{% trans "Categoría" %}</th>
                <th>{% trans "Descripción" %}</th>
                <th>{% trans "Precio" %}</th>
                <th>{% trans "Sucursal" %}</th>
                <th>{% trans "Existencias" %}</th>
                <th colspan="2">{% trans "Opciones" %}</th>

            </tr>
        </thead>
        <tbody>
            <!-- CICLO FOR PARA MOSTRAR LOS DATOS-->
            <!--for-->
            {% for producto in inventario %}
            <tr>
                <td>{{ producto.inv_nombre }}</td>
                <td>{{ producto.inv_categoria }}</td>
                <td>{{ producto.inv_descripcion }}</td>
                <td>{{ producto.inv_precioneto }}</td>
                <td>{{ producto.sucursal}}</td>
                <td>{{ producto.existencias }}</td>
            
                <!--Boton de edicion-->
                <form method="" action="">
                    {% csrf_token %}
                    <input type="hidden" name="" value="">
                    <td> <button type="" class="btn btn-outline-primary">{% trans "Editar" %}</button></td>
                </form>

                <!--Boton de borrado-->
                <form method="post" action="{% url 'delete_product' %}">
                    {% csrf_token %}
                    <input type="hidden" name="delete_productID" value={{ producto.inv_cod }}>
                    <td> <button type="submit" class="btn btn-outline-danger">{% trans "Eliminar" %}  </button></td>
                </form>
            </tr>
            {% endfor %}
            <!--endfor-->

        </tbody>
    </table>

    <a href="{% url 'new_product' %}">
        <button type="button" class="btn btn-secondary" onclick="" style="margin-left: 5px;"> 
            <i class="fa-solid fa-cart-flatbed"></i> {% trans "Añadir Producto" %}
        </button>
    </a>

</div>

{% endblock %}