{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block content %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'imgs/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'styles/style_login.css' %}">
  <title>automanager</title>
</head>
<body>

  <div class="container">
    <h2>{% trans "Bienvenido" %}</h2>

    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %}

    <form action="" method="POST">
      {% csrf_token %}
  
        <div class="user">
            <input type="text"  id="username" name="username" required>
            <label> Username </label>
        </div>
        <div class="user">
            <input type="password"  id="password" name="password" required>
            <label> Password </label>
        </div>
        
        
          <button type="submit" value="Enviar">
              {% trans "Ingresar" %}
          </button>
    </form>
  </div>
  
</body>
</html>

{% endblock %}