body {
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Updated background color */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    background-color: #343a40; /* Darker background color */
}

.logo {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.admin-label {
    color: #fff;
    margin-bottom: 20px; /* Adjusted margin */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

